*,*::before,*::after{
    box-sizing: border-box;
 }
 *{
    margin: 0;
 }
 html,body{
    height:100%;
 }
 body{
    line-height: 1.5;
    -webkit-font-smoothing:antialised;
 }
 img,picture,video,canvas,svg{
    display: block;
    max-width: 100%;
 }
 input,button,textarea,select{
    font: inherit;
 }
 p,h1,h2,h3,h4,h5,h6{
    overflow-wrap: break-word;
 }
 #root,#__next{
    isolation: isolate;
 }
body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-size: 0.98rem;
    min-height:100vh;
    display: flex;
    align-items: center;
   
    justify-content: center;
    background-color:  hsl(30, 38%, 92%)  ;
 flex-direction: column;
 border: 10px solid black;
   
}
main{
   border:10px red solid;

max-width: 25rem;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }      